:root {
    --global-text-color: #cecac3;
    --global-active-color: #d23f31;
    --global-background-color: #232425;
    --global-popup-background-color: #131415;
    --global-control-background-color: #181a1b;
    --global-control-placeholder-color: #c5c8ce;
    --global-control-focus-color: rgba(100, 100, 100, 0.5);
    --global-append-btn-background-color: #1f2020;
    --global-control-text-color: #aca49a;
    --global-control-border-color: #393e40;
    --global-scroll-bar-color: rgba(100, 100, 100, 0.5);
    --global-alpha-background-color: rgba(35, 36, 37, 0.5);
    --global-alpha-background-white: rgba(100, 100, 100, 0.2);

    --markdown-hr-color: #eaecef;
    --markdown-head-border-color: #eaecef;
    --markdown-blockquote-color: #6a737d;
    --markdown-current-blockquote-color: #e4f0fb;
    --markdown-blockquote-border-color: #eaecef;
    --markdown-table-cell-border-color: #dfe2e5;
    --markdown-table-background-color: #fafbfc;
    --markdown-table-border-color: #c6cbd1;
    --markdown-table-even-color: #FFF;
    --markdown-code-background-color: rgba(27,31,35,.05);
    --markdown-kdb-background-color: #fafbfc;
    --markdown-kdb-text-color: #24292e;
    --markdown-kdb-border-color: #d1d5da;
    --markdown-kdb-shadow-color: #d1d5da;

    --header-btn-checked-color: #57a3f3;

    --main-chatroom-background-color: rgba(255, 255, 255, .03);
    --main-chatroom-sidebar-background-color: rgba(255, 255, 255, .05);
    --main-chatroom-message-background-color: rgb(246, 248, 250);
    --main-chatroom-message-background-color-darken: hsl(210, 29%, 80%);
    --main-chatroom-message-color: #232425;
    --main-chatroom-user-message-background-color: #515a6e;
    --main-chatroom-user-message-color: #F6F8FA;
    --main-chatroom-plusone-background-color: #d23f31;
    --main-chatroom-plusone-color: #FFF;
    --main-chatroom-barrager-background-color: rgba(200, 200, 200, .2);

    --main-emoji-background-color: #131415;
    --main-emoji-bar-background-color: #515a6e;

    --main-redpacket-readed-background-color: #fecd41;
    --main-redpacket-background-color: #f90;
    --main-redpacket-message-color: #FFF;
    --main-redpacket-type-color: #FFF;
    --main-redpacket-type-border-color: #ed4014;

    --redpacket-background-color: #f25745;
    --redpacket-header-background-color: #f45e4d;
    --redpacket-text-color: #fee3aa;
    --redpacket-username-color: #000;
    --redpacket-border-color: #f1ca74;
    --redpacket-max-tip-text-color: #FFF;
    --redpacket-max-tip-background-color: #60b044;
    --redpacket-max-tip-border-color: #5ca941;
    --redpacket-zero-tip-text-color: #d23f31;
    --redpacket-zero-tip-background-color: #FFF;
    --redpacket-zero-tip-border-color: #D5D5D5;
    --redpacket-gesture-type-color: #DDD;

    --liveness-active-color: var(--global-active-color);
    --liveness-normal-color: #57a3f3;

    --plyr-audio-control-color: var(--global-control-text-color);
    --plyr-audio-controls-background: rgba(35, 36, 37, 0.78);
    --plyr-color-main: var(--global-active-color);


    --article-background-color: var(--global-background-color);
    --article-header-background-color: var(--article-background-color);
    --article-heat-color: var(--global-active-color);

}

